
    /**
     * Summary of %lower%
     *
     * API: SYNO.%service%
     * @see https://github.mikespub.net/synology/tools/?urls.primaryName=%service%
     * @return %service%
     */
    public function %lower%()
    {
        $this->%lower%Svc ??= new %service%($this%property%);
        return $this->%lower%Svc;
    }
