
    /**
     * Summary of %name%
     *
     * API method: %api% %method% (%version%)
     * @see https://github.mikespub.net/synology/tools/schemas/%api%-%method%.json
     * @return array<mixed>|bool|string|\stdClass
     */
    public function %name%(%args%)
    {
        $api = '%rest%';
        $path = %path%;
        $method = '%method%';
        $version = %version%;
        $params = [%params%
        ];
        $this->client->setServiceName(static::API_SERVICE_NAME);
        return $this->client->call($api, $path, $method, $params, $version);
    }
