
    /**
     * Summary of %property%
     *
     * API: SYNO.%api%
     * @see https://github.mikespub.net/synology/tools/?urls.primaryName=%service%
     * @return %class%
     */
    public function %property%()
    {
        $this->%property%Svc ??= new %class%($this%client%);
        return $this->%property%Svc;
    }
