<?php

namespace Synology\Services;

/**
 * Class %service% - created automatically by ServiceGenerator
 *
 * API: SYNO.%service%
 * ```
 * $result = $syno->%call%
 * ```
 * @see https://github.mikespub.net/synology/tools/?urls.primaryName=%service%
 * @package Synology\Services
 */
class %service% extends BaseService
{
    public const API_SERVICE_NAME = '%service%';
    public const API_VERSION = %version%;
