<?php

namespace Synology\Services\%service%;

use Synology\Services\BaseService;

/**
 * Class %subset% - created automatically by ServiceGenerator
 *
 * API: SYNO.%service%.%subset%
 * @see https://github.mikespub.net/synology/tools/?urls.primaryName=%service%#/%service%.%subset%
 * @package Synology\Services\%service%
 */
class %subset% extends BaseService
{
    public const API_SERVICE_NAME = '%service%.%subset%';
    public const API_VERSION = %version%;
